# Database Configuration
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
POSTGRES_DB=

# Mail Configuration
SPRING_EMAIL=
SPRING_EMAIL_PASSWORD=

# Security & JWT
SECRET_KEY=

# AWS S3 Storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=

# Third-party APIs
AI_API_KEY=
TWO_FACTOR_API=

# Docker Port Mappings (Host : Container)
APP_PORT=
APP_INTERNAL_PORT=
POSTGRES_PORT=
POSTGRES_INTERNAL_PORT=
REDIS_PORT=
REDIS_INTERNAL_PORT=
